* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  width: 100%;
  margin: 0px;
  margin-left: 66px;
  text-align: center;
  max-width: calc(100vw - 66px);
  overflow-x: hidden;
}

.site-title {
  font-size: 2rem;
}
