.nav {
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  background-color: #222;
  color: white;
  display: inline-block;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0.5rem;
  padding-top: 2rem;
  margin-right: 0;
  overflow-x: hidden;
  position: fixed;
}
.nav img{
  object-fit: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: auto;
  padding: 0.25rem;
}

.nav ul {
  margin: 0px;
  width: fit-content;
  height: 3rem;
  list-style: none;
  display: inline-block;
  padding-left: 0;
  text-align: center;
}
.nav li {
  height: fit-content;
  width: auto;
  align-items: center;
  margin: auto;
}
.nav a {
  color: inherit;
  text-decoration: none;
  display: inline-flex;
  width: auto;
  height: fit-content;
  align-items: center;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.nav li.active {
  background-color: #555;
}

.nav li:hover {
  background-color: #777;
}

.toggle {
  height: 100%;
  width: auto;
  margin: auto;
  background-color: transparent;
  border: 0px;
  padding: 0px;
  align-items: center;
}

.aligner {
  color: inherit;
  text-decoration: none;
  display: inline-flex;
  width: 58px;
  height: 100%;
  align-items: center;
  padding: 0.25rem;
  justify-content: center;
  color: white;
  padding: 0px;
}


.toggle.active {
  background-color: #555;
}

.toggle:hover {
  background-color: #777;
}
.spacer{
  height: 2rem;
  margin: 0;
  padding: 0;
}